bazel-*
.gradle/
target/
.flattened-pom.xml

# IDE
.idea
.ijwb
*.iml

# Vim.
*.sw*
*.vim

# Vscode Settings
.vscode/settings.json

# Python
**/__pycache__/
.venv



app/target/
demo-group/target/
library/target/